// ======Main Options=======
/* -----Color------- */
$mainColor: #81a1c8;  
$color-2: #006fb7; 
$color-3: #3d3c3f;	

/* -----Fonts-----*/
$pageFontSize: 14px;
$font-1: 'Roboto', sans-serif;
$font-2: 'Roboto Condensed', sans-serif;

$fcolor-1: $color-3;
$fcolor-2: #fff;

$titleFont: $font-1;
$titleFontSize: 2rem;
$titleFontSizeLaptop: 2rem;
$sectionTitleFontSize: 1.5rem;
$sectionTitleFontSizeLaptop: 28px;
$sectionTitleFontSizeDesktop: 40px;
$sectionBlockTitleFontSize: 24px;
$articleTitleFontSize: 24px;
$descriptionTitleFontSize: 24px;

/* ======Components Options======= */
/* ------Color---------- */
$mainBackgroundColor: $color-3;

$headerColor: $mainColor;
$headerFontColor: #fff;

$headerBottomColor: #fff;
$headerBottomFontColor: #161618;

$footerColor: $color-3;
$footerFontColor: $fcolor-2;

$mobileMenuColor: $mainColor;

$formElementsBorderColor: $color-2;
$formElementsFocusBorderColor: $mainColor;

$linksColor: #fff;

$darkOverlayColor: rgb(0,0,0);


/* ------Fonts----------*/
// $h1FontSize: 40px;
// $h2FontSize: 24px;
// $h3FontSize: 20px;
$smaller: 12px;
$normal: 14px;
$larger: 16px;
$large: 18px;
$big: 24px;

$descriptionLineHeight: 1.35rem;
$descriptionFontSize: 0.9rem;


/* ------Sizes----------*/
$headerHeight: 85px;
$pageMaxWidth: 1920px;

$formElementsHeight: 40px; 

$standardButtonHeight: 40px;


/* ------Margins/Paddings------ */

// ---Optional (page-grid)-----
$containerPadding: 8px;
$containerPaddingDesktop: 15px;

$containerWidth: 760px;
$containerWidthTablet: 980px;
$containerWidthLaptop: 1170px;
$containerWidthDesktop: 1330px;

$sectionMarginTopMobile: 20px;
$sectionMarginTopTablet: 25px;
$sectionMarginTopLaptop: 35px;
$sectionMarginTopDesktop: 40px;

$articleMarginMobile: 10px;
$articleMarginTablet: 10px;
$articleMarginLaptop: 16px;
$articleMarginDesktop: 16px;

$smLayout: 576px;
$mdLayout: 768px;
$xlLayout: 991px; // page width when menu should collapse
$xxlLayout: 1200px;
$xxxlLayout: 1600px;

// ---Optional (form-grid)-----
$formTitleFontSize: 1.25rem;
$labelFontSize: 13px;

/* ------Z-index-------- */
$zMobileMenu: 1000;
$zMobileMenuButton: $zMobileMenu + 10;

$pageOverlayZIndex: $zMobileMenu - 50;
$darkOverlayZIndex: $pageOverlayZIndex - 100;

$zPopup: $zMobileMenu + 200;
$zPopupDarkOverlay: $zPopup - 50;




